<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
    <p>
      Splurty was built as part of <a target="_blank" href="http://amandameyer.getforge.io/">Amanda</a>'s curriculum in the Full-Stack Web Development program by <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>. With a sole background in retail managment, this first program is the start that Amanda needs to pursue her dreams of becoming a software engineer.
    </p>
    <p>
      If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
    <br />
    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.png', class: 'img-fluid' %>
        </div>
        <div class="col-12 col-sm-7 offset-sm-1 text-center">
          <h2>Amanda Meyer</h2>
          <br />
          <p>
            Amanda always had an interest in technology; she is an alumnus of the New Media Academy from <a target="_blank" href="https://venicehs-lausd-ca.schoolloop.com/cms/page_view?d=x&piid=&vpid=1445756274103">Venice High School</a>. Thanks to a scholarship from <a target="_blank" href="https://techhire.org/">TechHire</a>, Amanda is proud to say she is part of a program that really delivers results.
          </p>
          <br />
          <p>
            If you want to follow Amanda's adventures in coding:
          </p>
          <br/>
          <div>
            <li><a target="_blank" href="https://github.com/AJPrograms">
              <%= image_tag 'GitHub.png', class: 'img-fluid' %>
            </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/ajmeyerprogrammer/">
              <%= image_tag 'LinkedIn.png', class: 'img-fluid' %>
            </a></li>
            <li><a target="_blank" href="https://medium.com/@ajprograms">
              <%= image_tag 'Medium.png', class: 'img-fluid' %>
            </a></li>
            <li><a target="_blank" href="https://twitter.com/AJPrograms">
              <%= image_tag 'Twitter.png', class: 'img-fluid' %>
            </a></li>
          </div>
        </div>
      </div>

    <br class="clear" />
    <br />
    <br />
    <br />
    <br />
  </div>